body {
  background-color: #7ac0ca;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border-radius: 12px;
  border: 1px solid #000;
}

button {
  background-color: #000;
  color: white;
  padding: 8px 16px;
  border-radius: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.remember {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  margin: 8px 0;
}

small {
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
.forgot-password {
  font-size: 14px;
  margin: 10px 20px;
  text-align: left;
}
